@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Segoe UI", sans-serif;
}
.admin-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $color-bg-dark;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

// .admin-content {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
// }

.admin-main {
  flex: 1;
  margin: 10px 0;
  background-color: $color-bg-dark;
  border-radius: 8px;
  box-shadow: $shadow-soft;
  transition: $transition;
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: auto;
  .admin-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: $color-bg-light;
    border-radius: 8px;
    box-shadow: $shadow-soft;
  }
}
